* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
    /* transform-origin: 0px;  */
  }
}

@-webkit-keyframes bg {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@-moz-keyframes bg {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@keyframes bg {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
 .prev svg,
 .next svg {
     top:3px
 }
h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #4a4a4a;
}

p {
  font-family: "Lato", sans-serif;
  color: #4a4a4a;
}

.pure-g [class*="pure-u"] {
  font-family: "Lato", sans-serif;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
  padding: 1em 1em 1em 0;
}

.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.is-center {
  text-align: center;
}

/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 100%;
}

.pure-form input[type] {
  border: 2px solid #ddd;
  box-shadow: none;
  font-size: 100%;
  width: 100%;
  margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */

a.pure-button-primary {
  background: white;
  color: #1f8dd6;
  border-radius: 5px;
  font-size: 120%;
}

/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.header {
  position: absolute;
  width: 100%;
  border-bottom: solid 1px rgba(255, 255, 255, 0.4);
  top: 0;
  height: 100px;
  z-index: 2;
  display: flex;
  align-items: center;
}

.header .logo {
  height: 40px;
  margin-left: 30px;
}

.header .buttons {
  position: absolute;
  right: 0;
}

.buttons button {
  width: 145px;
  height: 45px;
  border-radius: 4px;
  border: solid 1px #ffffff;
  font-weight: 200;
  font-size: 16px;
  margin: 0 12px;
}

.buttons .login {
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
}
.buttons .sign-up {
  color: #260147;
  background: #ffffff;
}

.mask {
  text-align: center;
}

.splash-container {
  background: #260147;
  z-index: 1;
  /* The following styles are required for the "scroll-over" effect */
  width: 100%;
  height: 400px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-container .pattern {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -0;
}

.splash {
  /* absolute center .splash within .splash-container */
  width: 800px;
  height: 50%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: left;
  z-index: 5;
}
.work {
  margin: 0 auto;
  display: block;
  width: 30%;
}
.splash-head {
  color: white;
  /* padding: 0.6em 0; */
  line-height: 1.4em;
  font-size: 50px;
  font-weight: 600;
}

.splash-subhead {
  color: white;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 300;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
  /* These styles are required for the "scroll-over" effect */
  width: 1024px;
  margin: 0 auto;
  overflow: visible;
}

/* We want to give the content area some more padding */
.content {
  padding: 1em 1em 1em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
  font-size: 30px;
  margin: 2em 0 0.6em;
  color: #260147;
}

.content-head::before {
  content: "";
  display: block;
  height: 5px;
  width: 60px;
  margin-bottom: 13px;
  background-color: #f56523;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
  color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
  color: #1f8dd6;
}
.content-subhead i {
  margin-right: 7px;
}

ol {
  counter-reset: item;
  margin-left: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  padding-left: 0;
}

ol li span {
  color: #f56523;
  display: inline;
  font-size: 36px;
  margin-right: 10px;
}

ol li p {
  display: flex;
}

.work {
  height: 82px;
  width: 100%;
}

/* ol li::before {
  content: counter(item) ".";
  color: #f56523;
  display: inline;
  font-size: 36px;
  margin-right: 10px; 
} */

.info {
  background: #f3f3f3;
  text-align: center;
  width: 100%;
  padding: 18px;
  font-size: 18px;
  color: #4a4a4a;
  margin: 0 auto;
  border-radius: 4px;
}

.example {
  width: 100%;
}

.example-wrapper {
  margin: 13px 13px 25px 0px;
}

.feature:nth-child(even) {
  top: 180px;
}

.feature {
  position: relative;
  margin: 30px 0;
}

.slide {
  max-width: 230px;
  max-height: 150px;
  margin: 0 20px;
  position: relative;
}

.slide img {
  width: 230px;
  height: 150px;
  background-color: rgba(94, 44, 116, 0.7);
  border-radius: 4px;
}

.slide .mask {
  height: 100%;
  width: 100%;
  background-color: rgba(94, 44, 116, 0.7);
  z-index: 20;
  color: white;
  font-size: 20px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  padding: 0 40px;
}

.contact-us {
  border-radius: 4px;
  box-shadow: 0 0 6px 0 #9b9b9b;
  margin: 25px 0 45px 0 ; 
}

.contact-details .entry {
  display: flex;
  flex-direction: row;
}

.contact-details .entry img {
  margin: 20px 13px 0 0;
  align-self: flex-start;
}

.send-feedback {
  width: 100%;
  background-color: #5e2c74;
  padding: 19px;
  font-size: 20px;
  font-weight: 300;
  color: white;
}

/* This is the class used for the dark-background areas. */
.ribbon {
  background: #2d3e50;
  color: #aaa;
}

.logo-wrapper {
  border: solid 1px #dedcdc;
  height: 100%;
  margin: 0 13px 26px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-img {
  margin: 30px;
}

#submit-success {
  background-color: rgba(126, 211, 33, 0.1);
  border: 1px solid #417505;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
}

/* This is the class used for the footer */
.footer {
  background: #260147;
  position: relative;
  bottom: 0;
  width: 100%;
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
}

.footer a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.copyright {
  float: right;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) and (max-width: 77em) {
  /* We increase the body font size */
  body {
    font-size: 18px;
    line-height: 1.5;
  }

  .splash-container {
    height: 350px;
  }

  .content {
    padding: 0 38px;
  }
  .pattern {
    height: 300px;
  }

  .splash {
    margin: 0 36px;
  }

  .content-wrapper {
    width: 100%;
  }

  ol li p span {
    display: block;
  }

  .work {
    height: 82px;
    width: 100%;
  }

  .example-wrapper {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .feature:nth-child(even) {
    top: auto;
  }

  .feature {
    margin: 15px 0;
  }

  .example {
    width: 340px;
  }
  .info {
    background-color: white;
    text-align: left;
    line-height: 1.5;
    color: #4a4a4a;
  }

  .client {
    margin-top: 20px;
  }

  .contact-us {
    margin: 0 -50px 70px; 
}

  .copyright {
    margin-right: 20px;
  }


  .prev,
  .next {
    display: none;
  }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
  /* We increase the header font size even more */
  body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 16px;
    font-family: "Lato", sans-serif !important ;
  }
}

/*
 * -- Phone = MEDIA QUERIES --
 */

@media (max-width: 568px) {
  body {
    font-size: 16px;
    line-height: 1.5;
  }

  .content-wrapper {
    width: 100%;
  }

  .splash {
    padding: 19px;
    width: 100%;
    height: 100%;
    top: auto;
  }

  .splash-container {
    display: block;
    width: 100%;
  }

  .splash-subhead {
    font-size: 20px;
    line-height: 1.4;
  }

  .splash-head {
    margin-top: 60px;
    font-size: 40px;
  }

  .header {
    height: 59px;
  }

  .header .buttons {
    position: absolute;
    float: right;
  }

  .pattern {
    display: none;
  }

  .buttons {
    right: 50px;
    float: none;
    margin-right: 30px;
  }

  .buttons button {
    width: 43px;
    border: none;
    font-weight: 200;
    font-size: 16px;
    margin: 0 12px;
    padding: 0;
    background: rgba(0, 0, 0, 0) !important;
    color: #ffffff !important;
  }

  .logo {
    max-height: 30px;
  }

  .content-head {
    margin: 20px 0 0 0;
  }

  .info {
    background: rgba(0, 0, 0, 0);
    text-align: left;
  }

  .feature:nth-child(even) {
    top: auto;
  }

  .feature {
    margin: 0;
  }

  .client {
    padding: 15px;
  }

  .client-img {
    width: 77px;
  }

  .logo-wrapper {
    margin: 0;
  }

  .contact-us {
    box-shadow: none;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .contact-us h3 {
    font-size: 24px;
  }

  .l-box-lrg {
    padding: 1em;
  }

  .footer {
    padding-left: 20px;
    line-height: 2;
    height: 93px;
  }

  .footer a {
    margin: 0 15px 0 0;
  }

  .copyright {
    color: rgba(255, 255, 255, 0.61);
    float: left;
  }

  .prev,
  .next {
    display: none;
  }
}
